# general utils
frozendict>=2.3.0
cytoolz>=0.11.2
cachetools>=5.0.0
# libraries
numpy>=1.21.2
scipy>=1.7.1
matplotlib>=3.5.0
shapely>=1.8.0
zuper-commons-z6>=6
PyGeometry-z6>=2.1.4

commonroad-io==2021.4
