# general utils
frozendict>=2.3.0
cytoolz>=0.11.2
cachetools>=5.0.0
# libraries
numpy>=1.21.2
scipy>=1.7.1
matplotlib~=3.4.3
shapely>=1.8.0
zuper-commons-z6>=6.1.5
PyGeometry-z6>=2.0

commonroad-io==2021.4
