# formatting
pre-commit>=2.19.0

# extra
jupyter
pipdeptree>=2.2.1
setuptools>=60.9.3

# testing
pytest>=7
pytest-cov>=3
pytest-xdist>=2.5.0
pytest-sugar==0.9.6
pytest-mypy>=0.9.1
reprep-z7>=7

# coverage
codecov>=2.1.9
coverage>=6.4
# coverage 6.2  is broken

# docs
sphinx>=4.2.0
sphinx-rtd-theme>=1.0.0
sphinx-autodoc-typehints
sphinx-autodoc-annotation

# pypi
bumpversion
twine
